:root {
  --border-color: #333;
  --background-color: white;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #333;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* custom style */
button {
  padding: 10px 15px;
  border: 1px solid var(--border-color);
  text-transform: uppercase;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.5;
}

button:active {
  opacity: 0.7;
}

button[disabled] {
  opacity: 0.5;
}

input[type='range'] {
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  border: 1px solid var(--border-color);
}

input[type='range']::-webkit-slider-thumb {
  margin-top: -10px;
  border: 1px solid var(--border-color);
  width: 16px;
  height: 40px;
  background-color: var(--background-color);
  cursor: pointer;
  -webkit-appearance: none;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background-color: var(--background-color);
}